# SPDX-License-Identifier: GPL-3.0-or-later

#    ----------------------------------------------------------------------
#    Copyright © 2022, 2023, 2024, 2025  Pellegrino Prevete
#
#    All rights reserved
#    ----------------------------------------------------------------------
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <https://www.gnu.org/licenses/>.

[Desktop Entry]
Name=%_game_title%
Comment=%_game_pkgdesc%
Type=Application
TryExec=flycast
Exec=%_game_command%
Icon=%_app_id%-%_game_uuid%
Terminal=false
Categories=Game;
Keywords=Dreamcast
Actions=preferences;fullscreen;

[Desktop Action fullscreen]
Name=Launch in fullscreen
Exec=%_game_command% -f

[Desktop Action preferences]
Name=Preferences
Exec=flycast

X-Desktop-File-Install-Version=0.26
