[Desktop Entry]
Name=%_game_title%
Comment=%_game_pkgdesc%
Type=Application
TryExec=fceux
Exec=%_game_command%
Icon=%_app_id%-%_game_uuid%
Terminal=false
Categories=Game;
Keywords=NES
Actions=preferences;fullscreen;

[Desktop Action fullscreen]
Name=Launch in fullscreen
Exec=%_game_command% -f

[Desktop Action preferences]
Name=Preferences
Exec=fceux

X-Desktop-File-Install-Version=0.26
