[Desktop Entry]
Name=%_title%
Comment=%pkgdesc%
Type=Application
TryExec=fceux
Exec=%_pkgbase%
Icon=%_app_id%-%_uuid%
Terminal=false
Categories=Game;
Keywords=NES
Actions=preferences;fullscreen;

[Desktop Action fullscreen]
Name=Launch in fullscreen
Exec=%_pkgbase% -f

[Desktop Action preferences]
Name=Preferences
Exec=fceux

X-Desktop-File-Install-Version=0.26
